@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box 0;
}
html, body, #root{
    height: 100%;
}
/*Cor do background da pagina e o webkit-font-smoothing deixa as fontes mais legíveis.*/
body{
    background: #E5E6F0;
    -webkit-font-smoothing: antialiased;
}

/* Irão utilizar fonte family Roboto.*/
body, input, button{
    font-family: Roboto, sans-serif;

}